@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{

font-family: "Open Sans", sans-serif;;
background-image: url(../CSS/images/cellulabg.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}



#logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 10% ;
    height: 20% ;
    border-radius: 35px;

}
.main-page{
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:700px) {
    #logo{
        width: 50%;    }
}
a{
    font-style: normal !important;
    text-decoration: none  !important;
}